<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OldAPI" value="https://www.rouvali.com/pannuhuone/datain.php"/>
    <add key="API" value="https://boilermonitor.azurewebsites.net/values"/>
    <add key="IOTAddress" value="http://192.168.98.33/"/>
  </appSettings>
</configuration>